{% extends 'layout/base_admin.html' %}

{% block content %}
	<div class="row">
		<div class="col-md-12">
            <div class="d-flex flex-wrap gap-3 justify-content-between align-items-center mb-4">
                <div>
                    <h1 class="mb-0 h3"><i class="{{ modulo_activo.icon }}"></i> {{ modulo_activo.nombre }}</h1>
                </div>
                <div class="ms-auto">
                    {% comment %} <a class="btn btn-sm btn-dark" href="{{ path }}?action=add"><i class="fa-solid fa-circle-plus"></i> Agregar {{ modulo_activo }}</a> {% endcomment %}
                </div>
            </div>

			<div style="max-width: 500px">
				<form method="GET" role="form" action=".">
					<div class="input-group mb-3">
					<input type="text" id="search" name="search" value="{{ request.GET.search }}" class="form-control" placeholder="Buscar {{ modulo_activo.nombre }} ...">
					<button type="submit" class="btn btn-dark btn-sm">Buscar <i class="fa-solid fa-magnifying-glass"></i></button>
					</div>
				</form>
			</div>

            <div class="card border-0 table-responsive">
                <div class="card-body">
                    <table class="table small table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Nombre/Iniciales Notificador</th>
                                <th>Fecha Reporte</th>
                                <th>Email Notificador</th>
                                <th>Nombre Paciente</th>
                                <th>Edad Paciente</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td>{{ object.nombre_iniciales_notificador }}</td>
                                    <td>{{ object.fecha_reporte|date:'Y-m-d H:i:s' }}</td>
                                    <td>{{ object.email_notificador }}</td>
                                    
                                    <td>{{ object.nombre }}</td>
                                    <td>{{ object.edad }}</td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Acciones
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a class="dropdown-item btn" href="{{ path }}?action=edit&id={{ object.id }}">
                                                        <i class="fa-solid fa-pencil"></i> Editar
                                                    </a>
                                                    <a class="dropdown-item btn formmodal" href="javascript:" nhref="{{ path }}?action=delete&id={{ object.id }}">
                                                        <i class="fa-solid fa-trash"></i> Eliminar
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
		</div>
	</div>

{% endblock %}
