
<form method="POST" id="pram-form" action="{{ request.path }}" enctype="multipart/form-data">
    <input type="hidden" name="action" value="{{ action }}" />
    {% if object %}
        <input type="hidden" name="id" value="{{ object.id }}" />
    {% endif %}
    {% csrf_token %}
    <div class="table-responsive mt-5">
        <table class="table table-bordered">
            <tr>
                <td class="table-title text-center" colspan="12">
                    <strong>NOTIFICACIÓN DE TECNOVIGILANCIA</strong>
                </td>
            </tr>
                <td class="table-color" colspan="12">
                    Reporte inmediato de evento adverso o incidente adverso serios relacionado al uso de un dispositivo médico de uso humano.
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="12">
                    <strong>A. INFORMACIÓN DEL PACIENTE</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="12">
                    {{ form.identificacion.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.identificacion %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="12">
                    {{ form.edad.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.edad %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="12">
                    {{ form.sexo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.sexo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="12">
                    {{ form.diagnostico_presuntivo_definitivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.diagnostico_presuntivo_definitivo %}
                </td>
            </tr>
        </table>



        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="6">
                    <strong>B. DATOS DE OCURRENCIA DEL EVENTO ADVERSO/INCIDENTE ADVERSO.</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nombre_establecimiento.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nombre_establecimiento %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.ciudad.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.ciudad %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.fecha_inicio_evento_adverso.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.fecha_inicio_evento_adverso %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.diagnostico_presuntivo_definitivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.diagnostico_presuntivo_definitivo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.fecha_fin_evento_adverso.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.fecha_fin_evento_adverso %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.dispositivo_utilizado_mas_una_vez.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.dispositivo_utilizado_mas_una_vez %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.tiempo_contacto_dispositivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.tiempo_contacto_dispositivo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.deteccion_evento_adverso.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.deteccion_evento_adverso %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.clasificacion_evento.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.clasificacion_evento %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.descripcion_evento_adverso.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.descripcion_evento_adverso %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    <div class="d-flex gap-5">
                        <div>
                            {% include 'core/forms/fieldRender.html' with field=form.muerte %}
                            {{ form.muerte.label }}
                        </div>
                        <div>
                            {{ form.fecha_muerte.label }}
                            {% include 'core/forms/fieldRender.html' with field=form.fecha_muerte %}
                        </div>
                    </div>

                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.enfermadad %}
                        {{ form.enfermadad.label }}
                    </div>


                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.requiere_intervencion_medica %}
                        {{ form.requiere_intervencion_medica.label }}
                    </div>

                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.hospitalizacion_prolongada %}
                        {{ form.hospitalizacion_prolongada.label }}
                    </div>

                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.danio_funcion_estructural_corporal %}
                        {{ form.danio_funcion_estructural_corporal.label }}
                    </div>

                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.no_hubo_danio %}
                        {{ form.no_hubo_danio.label }}
                    </div>

                    <div class="mt-2">
                        {% include 'core/forms/fieldRender.html' with field=form.otro_desenlace %}
                        {{ form.otro_desenlace.label }}
                    </div>

                    <div class="mt-4">
                        {{ form.causa_sospecha_provoco_evento.label }}
                        {% include 'core/forms/fieldRender.html' with field=form.causa_sospecha_provoco_evento %}
                    </div>

                    <div class="d-flex gap-5 mt-2">
                        <div>
                            {{ form.reporto_importador.label }}
                            {% include 'core/forms/fieldRender.html' with field=form.reporto_importador %}
                        </div>
                        <div>
                            {{ form.fecha_reporto_importador.label }}
                            {% include 'core/forms/fieldRender.html' with field=form.fecha_reporto_importador %}
                        </div>
                    </div>
                    <div class="d-flex gap-5 mt-2">
                        <div>
                            {{ form.envio_dispositivo_importador.label }}
                            {% include 'core/forms/fieldRender.html' with field=form.envio_dispositivo_importador %}
                        </div>
                        <div>
                            {{ form.fecha_envio_dispositivo_importador.label }}
                            {% include 'core/forms/fieldRender.html' with field=form.fecha_envio_dispositivo_importador %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">

                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="6">
                    <strong>C. IDENTIFICACIÓN DEL DISPOSITIVO MÉDICO/EQUIPO.</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nombre_dispositivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nombre_dispositivo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.descripcion_dispositivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.descripcion_dispositivo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.registro_sanitario.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.registro_sanitario %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.lote.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.lote %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.serie.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.serie %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.fecha_elaboracion.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.fecha_elaboracion %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.version_software.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.version_software %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.fecha_vencimiento.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.fecha_vencimiento %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nombre_o_razon_fabricante.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nombre_o_razon_fabricante %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nombre_o_razon_importador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nombre_o_razon_importador %}
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="6">
                    <strong>D. CLASIFICACIÓN DEL DISPOSITIVO MÉDICO (sección para uso exclusivo de la ARCSA no llenar).</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.tipo_dispositivo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.tipo_dispositivo %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nivel_riesgo.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nivel_riesgo %}
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="6">
                    <strong>D. CLASIFICACIÓN DEL DISPOSITIVO MÉDICO (sección para uso exclusivo de la ARCSA no llenar).</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.informacion_adicional.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.informacion_adicional %}
                </td>
            </tr>
        </table>

        <table class="table table-bordered">
            <tr>
                <td class="table-title" colspan="6">
                    <strong>F. IDENTIFICACIÓN DEL NOTIFICADOR*</strong>
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.nombre_iniciales_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.nombre_iniciales_notificador %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.profesion_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.profesion_notificador %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.establecimiento_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.establecimiento_notificador %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.direccion_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.direccion_notificador %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.telefono_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.telefono_notificador %}
                </td>
            </tr>
            <tr>
                <td class="table-color" colspan="6">
                    {{ form.email_notificador.label }}
                    {% include 'core/forms/fieldRender.html' with field=form.email_notificador %}
                </td>
            </tr>
        </table>
           

    </div>

    <div class="card bg-light mt-4">
        <div class="card-body">
            <div class="d-flex flex-column flex-md-row justify-content-between gap-3">
                <div class="d-grid d-md-flex gap-2">
                    <input type="submit" class="btn btn-sm btn-primary" value="Guardar" name="_save" />
                    {% comment %} <input type="submit" class="btn btn-sm btn-primary" value="Guardar y Añadir Otro" name="_addanother" />
                    <input type="submit" class="btn btn-sm btn-primary" value="Guardar y Continuar Editando" name="_continue" /> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</form>