{% extends 'layout/base.html' %}

{% load core_extras %}

{% load static %}

{% block extracss  %}
    <style>
        .table-title {
            background-color:rgb(209, 218, 126)!important;
        }
        .table-color {
            background-color:rgb(244, 241, 192)!important;
        }

    </style>
{% endblock %}

{% block extrajs %}
    {{ block.super }}
    {% include 'core/forms/form_inline_js.html' %}
{% endblock %}

{% block content %}

    <div class="bg-background py-5">
        <div class="container-xl">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h3 text-center">SISTEMA NACIONAL DE FARMACOVIGILANCIA</h1>
                    <h2 class="h4 text-center">REPORTE DE SOSPECHA DE REACCIONES ADVERSAS A MEDICAMENTOS - FALLA TERAPÉUTICA - ERROR DE MEDIACIÓN</h2>
                    <H2 class="h4 text-center">FALLA TERAPÉUTICA - ERROR DE MEDICACIÓN</H2>

                    {% include 'main/form_pram.html' %}

                </div>
            </div>
        </div>
    </div>     

{% endblock %}